[Service]
WorkingDirectory=/var/www/jsfs
ExecStart=/usr/bin/node server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jsfs
User=web
Group=web
Environment='NODE_ENV=production'
 
[Install]
WantedBy=multi-user.target
