[Service]
WorkingDirectory=/var/www/jsfs
ExecStart=/usr/local/bin/node boot.js
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jsfs
User=web
Group=web
Environment='NODE_ENV=production'

[Install]
WantedBy=multi-user.target
